# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
# Entornos virtuales
venv/
.venv/
env/
# IDEs
.vscode/
.idea/
*.swp
*.swo
# OS
.DS_Store
Thumbs.db
desktop.ini
# Archivos generados por el pipeline
data/scored_emails.json
# Streamlit
.streamlit/
# Variables de entorno
.env
# Proyecto específico
.venv
/data/raw
/src/__pycache__